*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
*:not(i){
    font-family: "Poppins",sans-serif;
}
body{
    background-color: darkgray;
}
nav{
    font-family: 'Poppins' sans-serif;

}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height:65px;
    background-color: black;
    color:white;
}
nav ul li{
    padding:0 12px;
}
.brand img{
    width:54px;
    padding:0 8px;
}
.brand {
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    background-color: rgb(253, 240, 255);
    width:90vmin;
    position:absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    padding:80px 50px;
    border-radius:10px;
    box-shadow: 0 20px 40px rgba(38,33,61,0.2);
}
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color:#e2e7e6;
}
.box{
    /** border:2px solid black;**/
     height:500px;
     width:50%;
     background-color:white;
     padding:20px 0px 15px;
     margin-top:15px;
     justify-content: space-between;
 
 }
.box-img{
    justify-content: space-around;
    height:500px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:1rem;
    margin-bottom:1rem;
}
.searchbox{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.searchbox input{
    padding: 15px;
    width:70%;
    border:none;
    outline:none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
}
.searchbox button{
    padding:15px 0;
    width:25%;
    background-color: blueviolet;
    border:none;
    outline:none;
    color:#ffffff;
    border-radius: 5px;
}
.searchbox button:hover{
    background-color: #d9d6e3;
}
.result{
    position:relative;
}
.result h3{
    font-size: 30px;
    color:#1f194c;
}
.result .word{
    display:flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button{
    background-color: transparent;
    color:#ae9cff;
    border:none;
    outline:none;
    font-size:18px;
}
.result .details{
    display:flex;
    gap:10px;
    color:black;
    margin:5px 0 20px 0;
    font-size: 14px;
}
.word-meaning{
    color:#575a7b;
}
.word-example{
    color:#575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left:20px;
    margin-top:30px;
}
.bottom{
    position:sticky;
    height:130px;
    background-color: black;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.bottomContent{
    padding:0 10px;
    color:#e2e7e6;
}
.error{
    margin-top: 80px;
    text-align: center;
}

